/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  font-family: arial;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  font-family: arial;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
  padding: 16px;
  text-decoration: underline;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  z-index: 1;
  margin-left: 23%;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-family: arial;
  color: white;
  padding: 20px;
  text-align: center;
  background-image: url("images/banner.jpg");
}

h2 {
  font-family: arial;
  margin: 0;
  font-size: 50px;
  padding: 20px;
  text-align: center;
  background-color: grey;
}

.article p {
  float: center;
  box-sizing: border-box;
  height: 100%;
  border-style: solid;
  padding: 50px;
  margin: 0;
  font-family: arial;
  font-size: 35px;
  text-align: center;
}

html {
  margin-top: 0%;
  margin-left: 23%;
  margin-right: 23%;
  background-color: lightblue;
}

body {
  margin: 0%;
}

.article p:hover {
  padding: 75px;
  background-color: grey;
  font-weight: bold;
}

.article p a:hover {
  cursor: pointer;
}

.article .cont {
  font-weight: bold;
}

.article p a {
  text-decoration: none;
  color: black;
}

.article #p1 {
  background-image: url("images/board.jpg")
}

.article #p2 {
  background-image: url("images/cogs.jpg")
}

.article #p3 {
  background-image: url("images/people.jpg")
}

.article #p4 {
  background-image: url("images/computer.jpg")
}

.article #p5 {
  background-image: url("images/headset.jpg")
}
